.random-container {
    .ran-text {
        color: hsl(0, 0%, 45%);
        margin: 0 10px;
        transition: .3s;
        text-align: justify;
    }

    .btn-ran {
        // align-items: center;
        background-color: white;
        background-image: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
        background-size: calc(100% + 20px) calc(100% + 20px);
        border-radius: 100px;
        border-width: 0;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-flex;
        height: auto;
        justify-content: center;
        line-height: 1.5;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        transition: background-color .2s, background-position .2s;
        margin: 10px 10px;
        font-size: 15px;
    }

    .btn-ran:active,
    .btn-ran:focus {
        outline: none;
    }

    .btn-ran:hover {
        background-position: -20px -20px;
    }

    .btn-ran:focus:not(:active) {
        box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
    }

    .img-random {
        margin: 10px 10px;
        height: auto;
        max-width: 100%;
        width: 80%;
        border: 3px solid black;
    }
}